[submodule "modules/openzeppelin-contracts"]
	path = modules/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "modules/prb-test"]
	path = modules/prb-test
	url = https://github.com/PaulRBerg/prb-test
[submodule "modules/forge-std"]
	path = modules/forge-std
	url = https://github.com/foundry-rs/forge-std
